.title-block{
	text-align: center;
    margin: 20px 0;
    font-size: 20px;
    font-weight: bold;
}
.form-block{
	width: 60%;
    margin: 20px auto;
}
.form-block input, 
.form-block select, 
.form-block textarea{
	width: 100%;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}
.cd-faq-items a:hover{
	color:#a9c056;
	text-decoration:none;
}